body .header {
  background-color: #f2f2f2;
}

header .header__slogan {
  color: #ff80b2; 
  text-align: center;
  margin-top: 20px;
}

header .header__hashtag {
  color: #ff80b2; 
}

header .header__hashtag:hover {
  color: #ffaacc; 
}

section .work-description__title {
  color: #ff80b2; 
  font-size: 1.6rem;
}

body a.button {
  background-color: #ff80b2; 
}

body a.button:hover {
  background-color: #ffaacc; 
}


section .certification__title, section .certification__text {
  color: #ff80b2; 
}


section .mission__text_marked {
  border-color: #ff80b2;  
  color: #ffffff;
  line-height: 2.9rem;
  font-size: 1.5rem;

}

body #navbarNav a.nav-link:hover {
  color: #ffaacc; 
}

body .our-work {
  background-color: #666666;
}

body .links {
  background-color: #666666;
}

.our-work p {
  color: #ffffff;
}

section .our-work__title-image img {
  margin-left: 0px;
}

section .flex-nowrap {
  margin-top: 30px;
}

#certification a {
  color: #ff80b2; 
}

#links .row {
  margin-bottom: 20px;
}

#contact-us a {
 text-decoration: underline;
}

#history .col-lg-6 {
 text-align: left;
}

body #history {
  background-color: #f2f2f2;
}

body a.donate {
 margin-top: 0px;
}

header h1, header h2 {
  text-shadow: 2px 2px 10px rgba(0,0,0,.9);
}


body .back-top:after {
 color: #ffaacc; 
}
