.footer {
  background-color: #cccccc; }
  .footer .container {
    max-width: 1000px;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position: bottom 15px center; }
    @media (min-width: 1024px) {
      .footer .container {
        background-size: 100% auto; } }

.contacts {
  padding-top: 20px; }
  .contacts dt, .contacts dd {
    display: inline;
    font-size: 1.1rem;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
    padding: 0 5px;
    white-space: nowrap; }
  .contacts dt {
    font-weight: 400; }

.socials li {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 5px; }

.copyright__icons a {
  text-decoration: none;
  font-size: 0.5rem; }
  .copyright__icons a i {
    font-size: 1.5rem; }

.copyright {
  min-height: 25px; }
  @media (min-width: 1024px) {
    .copyright {
      min-height: 35px; } }
  .copyright a {
    vertical-align: top;
    padding: 0 5px; }

.thanks {
  min-height: 240px;
  color: #fff;  }
  @media (min-width: 1024px) {
    .thanks{
      min-height: 290px;  }
    .thanks p {
      line-height: 1.4rem; }}

.thanks h2{
  text-shadow: none;
  margin-bottom: 20px; }

.thanks img{
  max-width: 80px;
  max-height: 80px;  }

.thanks p {
  margin:0 auto;
  max-width: 500px;
  line-height: 1.4rem;  }

.thanks a {
  color: #fff;  }
