a {
  text-decoration: underline;
  color: #333333; }
  a:hover {
    color: #333333; }

h1, h2 {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px 4px rgba(0,0,0,1); }

h1 {
  font-size: 2.5rem;
  font-weight: 700; }
  @media (min-width: 1024px) {
    h1 {
      font-size: 3.5rem; } }

h2 {
  font-size: 1.25rem;
  font-weight: 500; }
  @media (min-width: 1024px) {
    h2 {
      font-size: 1.6rem; } }

p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 0.92rem;
  line-height: 1.4rem; }
  @media (min-width: 1024px) {
    p {
      font-size: 1.05rem; } }

ul {
  padding-left: 0;
  list-style: none; }

a.button {
  display: block;
  background-color: #ff80b2;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.58rem;
  text-align: center;
  font-weight: 700;
  color: #333333;
  line-height: 60px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  transition: 0.5s; }
  @media (min-width: 1024px) {
    a.button {
      font-size: 1.65rem; } }
  a.button:hover {
    background-color: #ffaacc; }

a.install {
 margin-top: 0px;
}

a.help {
 background-color: rgb(148, 200, 64);
}   @media (max-width: 656px) {
	a.help-by {
	  line-height: 29px;
		}}
    @media (max-width: 595px) {
	a.help-ru {
	  line-height: 29px;
		}}
    @media (max-width: 454px) {
	a.help-en {
	  line-height: 29px;
		}}
    @media (max-width: 507px) {
	a.install-by {
	  line-height: 29px;
		}}
    @media (max-width: 522px) {
	a.install-ru {
	  line-height: 29px;
		}}
    @media (max-width: 443px) {
	a.install-en {
	  line-height: 29px;
		}}

a.help:hover {
 background-color: rgb(148, 200, 64, 0.5);
}


.back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: none;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  z-index: 99;
  transition: background-color .3s, opacity .5s, visibility .5s; }
  @media (min-width: 1024px) {
    .back-top {
      display: inline-block;
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px; } }
  .back-top:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 40px;
    color: #ffaacc;  }
    @media (min-width: 1024px) {
      .back-top:after {
        line-height: 50px; } }

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
