.mission {
  background-color: #f2f2f2;
  padding: 8vh 0; }
  @media (min-width: 1024px) {
    .mission {
      padding: 55px 0 60px 0; } }
  .mission .container {
    width: 80%; }
    @media (min-width: 1024px) {
      .mission .container {
        width: 800px; } }

.mission__title {
  font-size: 1.58rem;
  color: #333333;
  text-shadow: none; }
  @media (min-width: 1024px) {
    .mission__title {
      font-size: 1.9rem; } }

.mission__text {
  margin-top: 20px;
  text-align: left; }

.mission__text_marked {
  padding: 5px 10px;
  text-align: left;
  color: #ffffff;
  border: 6px solid #ff80b2; 
  font-size: 1.5rem;
  line-height: 2.9rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400; }

.carousel {
  margin-top: 20px;
  width: 100%; }

.carousel-control-prev-icon {
  background: url("../img/slider_arrows.png") left center no-repeat;
  width: 30px;
  height: 40px;
  background-position: -30px 0;
  background-size: 120px 40px; }

.carousel-control-prev {
  opacity: 1; }
  .carousel-control-prev:active .carousel-control-prev-icon {
    background-position: 0 0; }
  @media (min-width: 1024px) {
    .carousel-control-prev:hover .carousel-control-prev-icon {
      background-position: 0 0; } }

.carousel-control-next-icon {
  background: url("../img/slider_arrows.png") right center no-repeat;
  width: 30px;
  height: 40px;
  background-position: -60px 0;
  background-size: 120px 40px; }

.carousel-control-next {
  opacity: 1; }
  .carousel-control-next:active .carousel-control-next-icon {
    background-position: -90px 0; }
  @media (min-width: 1024px) {
    .carousel-control-next:hover .carousel-control-next-icon {
      background-position: -90px 0; } }
